@font-face {
    font-family: 'Helvetica Neue Light';
    src: url(fonts/HelveticaNeue-Light.woff);
    src: url(fonts/HelveticaNeue-Light.woff2);
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url(fonts/HelveticaNeue-Bold.woff);
    src: url(fonts/HelveticaNeue-Bold.woff2);
}


.header-img{
    width: 50%;
    margin: auto;
}

h1{
    font-family: 'Caudex', serif;
    font-size: 6rem;
    line-height: 3.5rem;
}
body {
    font-family: Helvetica Neue Light;
    font-weight: 100;
    background-color: #FCFCFC;
    color: #111111;
    font-size: 2rem;
    
    width: 90%;
    margin: auto;
}
.welcome h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

.filter-button{
    display: flex;
    justify-content: end;
}

.dropbtn {
    font-family: Helvetica Neue Light;
    background-color: transparent;
    color: #111111;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .25);
    font-size: 0.75em;
    letter-spacing: 0.1px;
    border-radius: 8px;
    padding: 5px 7px;
    transition: all ease 0.15s;
    margin-bottom: 20px;

}

.dropbtn:hover,
.dropbtn:focus {
    border: .75px solid #111111;
}

.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    font-size: 0.75em;
    position: absolute;
    right: 0px;
    background-color: #fcfcfc;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #111111;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    text-decoration: underline;
}

.filterDiv {
    display: none;
}

.show {
    display: block;
}


.index-list a {
    display: grid;
    grid-template-columns: minmax(3em, 2fr) minmax(6em, 3fr) minmax(5em, 2fr);
    align-items: baseline;
    column-gap: 1em;
    padding: .5em 0em;
    color: #111111;
}

.index-list {
    border-top: .75px solid rgba(0, 0, 0, .25);
    margin-top: 2em;
    line-height: inherit;
}

.index-list p{
}

a {
    text-decoration: none;
    padding: 0%;
}

a:visited{
    color: #111111;
}

p {
    margin: 0%;
}

ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.accordion_container {
    max-width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .25) !important;
}

.accordion_head {
    color: #111111;
    cursor: pointer;
    margin: 0%;
}

.accordion_head a:hover {
    background-color: #111111;
    color: #fcfcfc;
}

.accordion_body {
    border-top: .75px solid #111111;
    padding-bottom: 20px;
}

.accordion_body p {
    padding: 18px 5px;
    margin: 0px;
    font-size: 1.5rem;
}

a.button{
    display: inline-block;
    border: 1px solid #111111 !important;
    font-size: 0.75em;
    letter-spacing: 0.1px;
    border-radius: 8px;
    padding: 5px 7px;
    transition: all ease 0.15s;
    margin-bottom: 3px;
    color: #111111;
}

a.button:hover{
    border: .75px solid #111111 !important;
    font-size: 0.75em;
}

#hello{
    width: 1200px;
}

.here{
    font-family: Helvetica Neue Bold;
    color: #111111;
    text-decoration: underline;
}

#email{
    font-family: Helvetica Neue Bold;
}

#discipline{
    padding-left: 2px;
    letter-spacing: .08rem;
}

#intro{
    padding-bottom: 20px;
}

#links{
    padding-top: 20px;
}

@media only screen and (max-width: 600px) {

    body{
        padding: 5px;
    }
    body{
        font-size: 1rem;
    }
    #hello{
        width: 100%;
    }

    .welcome h1{
        margin: 0;
        font-size: 3.2rem;
    }
    
}